<% @calculate_price_for_user.each do |message, price| %>
  <tr style="text-align: right" >
    <td>
      <%="#{message} :  "%>
    </td>
    <td>
      &nbsp&nbsp&nbsp&nbsp
    </td>
    <td>
      <%#= "#{price}" %>
      <%= format('%.2f', price) %>
    </td>
  </tr>
<% end %>

<%# %w["Total Price Without" "Tax Total Tax Payable" "Net Price" "Rounded Price" "Balance amount to customer" ] %>
<!--  <tr style="text-align: right" >-->
<!--    <td>-->
<!--      Total Price Without Tax-->
<!--    </td>-->
<!--    <td>-->
<!--      &nbsp&nbsp&nbsp&nbsp-->
<!--    </td>-->
<!--    <td>-->
      <%#= format('%.2f', @bill.total_price_without_tax) %>
<!--    </td>-->
<!--  </tr>-->

<!--  <tr style="text-align: right" >-->
<!--    <td>-->
<!--      Total Tax Payable-->
<!--    </td>-->
<!--    <td>-->
<!--      &nbsp&nbsp&nbsp&nbsp-->
<!--    </td>-->
<!--    <td>-->
      <%#= format('%.2f', @bill.total_tax_payable) %>

<!--    </td>-->
<!--  </tr>-->

<!--  <tr style="text-align: right" >-->
<!--    <td>-->
<!--      Net Price-->
<!--    </td>-->
<!--    <td>-->
<!--      &nbsp&nbsp&nbsp&nbsp-->
<!--    </td>-->
<!--    <td>-->
      <%#= format('%.2f',  @bill.net_price ) %>

<!--    </td>-->
<!--  </tr>-->

<!--  <tr style="text-align: right" >-->
<!--    <td>-->
<!--      Rounded Price-->
<!--    </td>-->
<!--    <td>-->
<!--      &nbsp&nbsp&nbsp&nbsp-->
<!--    </td>-->
<!--    <td>-->
      <%#= format('%.2f',  @bill.rounded_price) %>
      <%#= @bill.rounded_price %>
<!--    </td>-->
<!--  </tr>-->

<!--  <tr style="text-align: right" >-->
<!--    <td>-->
<!--      Balance amount to customer-->
<!--    </td>-->
<!--    <td>-->
<!--      &nbsp&nbsp&nbsp&nbsp-->
<!--    </td>-->
<!--    <td>-->
      <%#= format('%.2f', @bill.balance_amount) %>
      <%#=  %>
<!--    </td>-->
<!--  </tr>-->
