/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #eff6ff;
}

/* overriding bootstrap */

 
 
label + input{
    background-color: #f1f5ff;
}
 
 #bill-sec-button ,#bill-generate-btn{
     
    background-color:#00b9ff;
     margin-left: 30px;

 }
 
 #bill-sec-button{
    margin: 0px 0px 0px auto;
 }

 #bill-sec-quantity{ 
    background-color: #eff6ff;
    padding: 10px 80px;
     width: 300px;
 }
 
 select{
    border: none;
    border-radius: 5px;
    background-color: #eff6ff;
    padding: 10px 150px;
    margin: 10px 20px 10px 0px;
 }

 #danger-btn{
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    color: red;
    background-color: #f6dadc;
 }
/* bill form  */
 

.billBody  button{
    margin: 0px 0px 0px auto;
}
 
.form-control{
    border: none;
    border-radius: 5px;
    background-color: #eff6ff;
    width: 200px;
}
 

@media only screen and (max-width:600px){
    select{
        padding: 10px 10px; 
     }
     #bill-sec-quantity{
        padding: 10px 10px;
     }
}

/* index2 css */

 
#first_table td{
    background-color: #eff6ff;
    padding: 40px;
}

.customer-email, .nested-fields{
    display: inline-flex;
    content-align: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.field {
    flex: 1;
    margin: 0 30px;
}

.denominations {
    border-collapse: separate; /* This ensures that border-spacing works */
    border-spacing: 2em; /* Adjust this value to increase or decrease the space */
}
